/* TODO: colors */

@layer base {
  html,
  body {
    /* TODO: bg = content gradient start/end */
    @apply text-base bg-red-500 text-fuchsia-950 antialiased;
    scroll-behavior: smooth;
  }

  body {
    overflow-y: scroll;
  }

  ::selection {
    @apply bg-blue-500 text-gray-900;
  }

  [x-cloak] {
    display: none !important;
  }

  [x-cloak="visibility"] {
    visibility: hidden !important;
  }

  address {
    @apply block not-italic;
  }

  /* Ensure elements load hidden before sal runs */
  body:not(.no-sal) [data-sal]:not(.sal-animate) {
    visibility: hidden;
  }
}
