/* Albaro Book */
@font-face {
  font-family: "Albaro";
  font-style: normal;
  font-weight: 300;
  src:
    local(""),
    url("/fonts/AlbaroDisplayWeb-BookTall.woff2") format("woff2");
}

/* ZTNature Extra Light */
@font-face {
  font-family: "ZTNature";
  font-style: normal;
  font-weight: 200;
  src:
    local(""),
    url("/fonts/ZTNature-ExtraLight.woff2") format("woff2"),
    url("/fonts/ZTNature-ExtraLight.woff") format("woff");
}

@theme {
  --font-*: initial;
  --font-serif: "Albaro", serif;
  --font-sans: "ZTNature", sans-serif;

  --font-weight-*: initial;
  --font-weight-extralight: 200;
  --font-weight-light: 300;

  --text-*: initial;
  --text-10: 0.625rem;
  --text-14: 0.875rem;
  --text-15: 0.9375rem;
  --text-16: 1rem;
  --text-17: 1.0625rem;
  --text-19: 1.1875rem;
  --text-20: 1.25rem;
  --text-22: 1.375rem;
  --text-23: 1.4375rem;
  --text-24: 1.5rem;
  --text-27: 1.6875rem;
  --text-28: 1.75rem;
  --text-29: 1.8125rem;
  --text-31: 1.9375rem;

  --leading-*: initial;
  --leading-tight: 1.2;
  --leading-snug: 1.375;
  --leading-relaxed: 1.625;

  --tracking-*: initial;
}
