@layer components {
  .container-grid {
    --padding: 1.875rem; /* 30px */
    --columns: 12;
    --center-columns-size: calc(var(--container-960) / var(--columns));

    @apply grid;
    grid-template-columns:
      [full-start]
      minmax(var(--padding), 1fr)
      [content-start]
      repeat(var(--columns), minmax(0, var(--center-columns-size)))
      [content-end]
      minmax(var(--padding), 1fr)
      [full-end];

    @variant sm {
      --padding: 3.75rem; /* 60px */
    }

    @variant md {
      --padding: 5.625rem; /* 90px */
    }

    @variant lg {
      --padding: 7.5rem; /* 120px */
    }
  }
}
