.richtext {
  /* Inline elements */
  & :is(p, address, pre, table) {
    margin-bottom: 1.6em;
  }

  & hr {
    margin-top: 3.2em;
    margin-bottom: 3.2em;
  }

  & blockquote {
    margin-top: 3.2em;
    margin-bottom: 3.2em;

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }

  /* Headlines */
  & h1,
  & .headline--h1 {
    @apply mt-8 sm:mt-10 xl:mt-12;
    @apply mb-6 xl:mb-8;
  }

  & h2,
  & .headline--h2 {
    @apply mt-8 sm:mt-10 xl:mt-11;
    @apply mb-6;
  }

  & h3,
  & .headline--h3 {
    @apply mt-8 sm:mt-10;
    @apply mb-4 sm:mb-6;
  }

  & h4,
  & .headline--h4 {
    @apply mt-8 sm:mt-10;
    @apply mb-4 xl:mb-6;
  }

  & h5,
  & .headline--h5 {
    @apply mt-8 sm:mt-10;
    @apply mb-4;
  }

  & h6,
  & .headline--h6 {
    @apply mt-8 sm:mt-10;
    @apply mb-2 xl:mb-4;
  }

  & .headline--meta {
    margin-bottom: 0;
  }

  &
    .headline--meta
    + :is(h1, .headline--h1, h2, .headline--h2, h3, .headline--h3, h4, .headline--h4, h5, .headline--h5, h6, .headline--h6) {
    margin-top: 0.1em;
  }

  /* Lists */
  & ul,
  & ol {
    margin-bottom: 1.6em;

    & li {
      &:not(:last-of-type) {
        margin-bottom: 1em;
      }
    }

    /* Nested lists */
    & ul,
    & ol {
      margin-top: 1em;
      margin-bottom: 0;
    }
  }

  & .richtext__ul--fancy {
    margin-top: 1.6em;
    margin-bottom: 1.6em;

    & li {
      &:not(:last-of-type) {
        margin-bottom: 1.2em;
      }
    }
  }

  /* General */
  & > :first-child {
    margin-top: 0;
  }

  & > :last-child {
    margin-bottom: 0;
  }
}
