@import "./richtext-spacing.css";
@import "./richtext-list.css";

.richtext {
  --text-color: theme("colors.dark");
  color: var(--text-color);

  @apply text-14 md:text-16;

  & small {
    @apply text-10;
  }

  & strong {
    @apply underline;
  }

  & a {
    overflow-wrap: anywhere;
    color: var(--text-color);
    @apply underline;
  }

  & abbr {
    text-decoration: none;
    border-bottom: 1px dashed currentColor;
    cursor: help;
  }

  & hr {
    @apply bg-dark h-0.5;
    border: 0 none;
  }

  & blockquote {
    @apply border-l-4 pl-4 py-1;
    border-color: var(--text-color);
  }

  /* Headlines */
  & h1,
  & .headline--h1 {
    @apply headline--1;
  }

  & h2,
  & .headline--h2 {
    @apply headline--2;
  }

  & h3,
  & .headline--h3 {
    @apply headline--3;
  }

  /* Links in headlines */
  & :is(h1, .headline--h1, h2, .headline--h2, h3, .headline--h3) a {
    @apply text-current;
  }
}

.richtext--on-light {
  --text-color: theme("colors.off-white");
}
