<!DOCTYPE html>
<html lang="de">
  <head>
    {% set pageTitle = meta.title | default([title, " | ", site.title] | join) %}
    {% set absolutePageURL = [site.url, page.url] | join %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{{ pageTitle }}</title>

    <link rel="canonical" href="{{ absolutePageURL }}" />

    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ absolutePageURL }}" />

    {% if meta.desc %}
      <meta name="description" content="{{ meta.desc }}" />
      <meta name="twitter:description" content="{{ meta.desc }}" />
      <meta property="og:description" content="{{ meta.desc }}" />
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#cf0e24">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="generator" content="{{ eleventy.generator }}">
  </head>
  <body>
    {% svgsprite %}

    {{ content | safe }}
  </body>
</html>
