---
layout: layouts/plain.njk
title: "404"
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="container-grid py-20 2xl:py-32 gap-y-20 2xl:gap-y-32">
  <div
    class="col-start-3 -col-end-4 xs:col-start-4 2xl:col-start-5 2xl:-col-end-5"
  >
    <div class="richtext">
      <h1>Fehler 404</h1>
      <p>Diese Seite konnte nicht gefunden werden.</p>
    </div>
  </div>
</div>
