---
layout: layouts/base.njk
title: Home
meta:
  title: Katja Schulze-Oechtering – Private Praxis für Physiotherapie
---

<div class="container-grid">
  <div class="col-start-[content] col-end-[content]">
    <div class="richtext">
      <h1>Willkommen in meiner Praxis</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo id
        suscipit neque adipisci cupiditate, reiciendis perspiciatis rerum omnis
        placeat tempore, dignissimos temporibus. Autem, cum tenetur ipsam
        delectus animi soluta dignissimos.
      </p>
      <p>test123</p>
      <ul>
        <li>test1</li>
        <li>test2</li>
        <li>test3</li>
      </ul>
    </div>
  </div>
</div>
