---
layout: layouts/base.njk
title: Home
meta:
  title: Katja Schulze-Oechtering – Private Praxis für Physiotherapie
---

<div class="container-grid grid-flow-dense">
  <div
    class="col-start-[content] col-end-[content] xs:col-start-4 xs:-col-end-4 2xl:col-start-5 2xl:-col-end-5 mb-14"
  >
    <div class="richtext">
      <h1>
        Ich bin Katja Schulze-Oechtering und unterstütze Sie gerne in meiner
        Eigenschaft als Physiotherapeutin. Dazu lade ich Sie herzlich ein.
      </h1>
    </div>
  </div>

  <div
    class="col-start-6 col-end-[content] xs:col-start-7 sm:col-start-8 md:col-start-9 2xl:col-start-10 2xl:col-end-[content] max-w-65 mb-20 2xl:mb-8"
  >
    <img
      src="./katja.jpg"
      eleventy:widths="260,520"
      alt="Katja Schulze-Oechtering"
      class="aspect-260/312 object-cover object-top"
    />
  </div>

  <div
    class="col-start-3 -col-end-4 2xl:col-start-[content] 2xl:col-end-6 mb-20 2xl:mb-8 2xl:pt-20"
  >
    <div class="richtext">
      <p>
        Schon in meiner Jugend hat mich Bewegung erfüllt und das menschliche
        Wesen in seiner Komplexität fasziniert. Ein Knie-Unfall hat mich auf den
        Weg in die Physiotherapie gebracht, nach mehreren OP‘s und vielen
        Schmerzen führte es mich zu Walter Packi. Ich durfte von ihm und seinem
        Team lernen und arbeiten. Anschließend habe ich - mit dieser Technik -
        viele Jahre in einer Freiburger Praxis gearbeitet. Nun biete ich meine
        Tätigkeit in eigener Regie an.
      </p>
      <p>
        Ich bin Mutter, Physiotherapeutin für Biokinematik, habe
        Meditationserfahrung, Erfahrung in pränatale Psychotherapie, ein jährige
        Weiterbildung in Somatic Expierincing und bin Yogalehrerin. Diese und
        vor allem die Ausbildung als Facilitator im Holotropen Atmen bei Dr.
        Ingo Jahrsetz haben mich darüber hinaus in den vergangenen Jahren noch
        weiter innerlich wachsen lassen und bereichern meine Arbeit im
        authentischen Kontakt.
      </p>
      <p>
        In meiner Therapie steht der Mensch als Ganzes im Mittelpunkt. Mein Ziel
        ist es, Ihre Beweglichkeit zu verbessern, Schmerzen zu lindern und ihre
        Lebensqualität nachhaltig zu verbessern.
      </p>
    </div>
  </div>

  <div
    class="col-start-4 col-end-[content] xs:col-start-5 sm:col-start-6 md:col-start-7 2xl:col-start-10 2xl:col-end-[content] mb-20"
  >
    <div class="richtext">
      <h3>
        Der Schwerpunkt meiner Arbeit liegt in der Biokinematik. Sie bildet die
        Grundlage meiner Begleitung und setzt genau dort an, wo Bewegung,
        Struktur und Funktion wieder in Einklang gebracht werden können.
      </h3>
    </div>
  </div>

  <div class="col-start-[content] col-end-[content] mb-14 2xl:mb-20">
    <div class="richtext richtext--on-dark">
      <h2 class="headline-notch inline-flex whitespace-nowrap h-9 sm:h-12">
        <span class="headline-notch__text pl-[1em] leading-9 sm:leading-12"
          >Was ist
          <span class="font-sans text-23 sm:text-31">Biokinematik</span>
        </span>
        <span
          class="headline-notch__notch -ml-px headline-notch pl-[2.075em] pr-[0.6em] leading-9 sm:leading-12"
          >?</span
        >
      </h2>
    </div>
  </div>

  <div
    class="col-start-4 -col-end-4 2xl:col-start-5 2xl:-col-end-5 mb-20 2xl:mb-28"
  >
    <div class="richtext">
      <p>
        Mit der Therapiemethode Biokinematik lassen sich Schmerzen und
        Funktionsstörungen des menschlichen Körpers beschreiben und behandeln.
        Ist eine fehlerhafte Spannung in Muskulatur oder Bindegewebe vorhanden
        führt das zu einer Abweichung der idealen Bewegungsbahn.
      </p>
      <p>
        Welche folgen eine Abweichung der idealen Bewegungsbahn in der Natur
        haben kann, lässt sich gut mit der Umlaufbahn der Erde um die Sonne
        erklären. Würde die Erde auch nur gering von Ihrer idealen Bahn
        abweichen, so hätte dass massive Auswirkungen auf das Klima der Erde.
      </p>
      <p>
        In der biokinematischen Betrachtungsweise des Körpers führen
        Abweichungen von der idealen Bewegungsbahn zu Schmerzen,
        Funktionsstörungen und Degenerationen. Deshalb werden solche Spannungen
        im Gewebe manuell ertastet und gelöst. Sind die ursächlichen Strukturen
        erkannt und gelöst werden Sie als Patient angeleitet genau diese
        Strukturen selbstständig durch spezielle Übungsstrategien umzubauen.
      </p>
    </div>
  </div>

  <div class="col-start-[content] col-end-[content] mb-14 2xl:mb-20">
    <div class="richtext">
      <h3>Behandelt werden z.B. folgende Krankheitsbilder:</h3>
    </div>
  </div>

  <div class="col-start-4 -col-end-4 2xl:col-start-5 2xl:-col-end-5">
    <div class="richtext">
      <ul class="richtext__ul--fancy">
        <li>Bandscheibenvorfall</li>
        <li>Chronische Rückenschmerzen</li>
        <li>Arthrose</li>
        <li>Ellenbogen <small>(der sogenannte Tennisarm)</small></li>
        <li>Gebiss- und Kieferprobleme</li>
        <li>Knieschmerzen</li>
        <li>Rückenschmerzen</li>
        <li>Schleudertrauma</li>
        <li>Skoliose</li>
        <li>Hallux valgus</li>
        <li>Kopfschmerzen/Migräne</li>
        <li>Schwindel</li>
      </ul>
    </div>
  </div>
</div>
