<header
  class="hero relative min-h-screen rounded-[200px] xl:rounded-full flex flex-col md:flex-row md:justify-center items-center overflow-hidden"
>
  {# BG #}
  <div class="absolute inset-y-0 left-1/2 -translate-x-1/2 min-w-250 w-full pointer-events-none bg-hero-placeholder">
    <img
      src="./assets/images/bg.jpeg"
      loading="eager"
      alt=""
      class="w-full h-full object-cover object-[0%_32%] md:animate-hero-bg"
    />
  </div>

  {# Content #}
  <div class="mt-auto md:mt-0 relative z-10 w-full container-grid items-center gap-y-[7vh] py-7">
    {# Logo (desktop) #}
    <div class="hidden md:block md:col-start-[content] md:col-end-7 xl:col-end-6">
      <a href="/" class="block max-w-85">
        <img
          src="./assets/images/logo.svg"
          alt="Katja Schulze-Oechtering"
          eleventy:formats="svg"
          class="w-full h-auto"
        />
      </a>
    </div>

    {# Logo (mobile) #}
    <div class="col-start-7 col-end-[content] max-w-50 md:hidden relative">
      <a href="/" class="block max-w-85">
        <img
          src="./assets/images/logo-signet.svg"
          alt=""
          eleventy:formats="svg"
          class="absolute right-full mr-6 top-1/2 -translate-y-1/2 h-[93%] w-auto"
        />
        <img
          src="./assets/images/logo-text.svg"
          alt="Katja Schulze-Oechtering"
          eleventy:formats="svg"
          class="w-full h-full"
        />
      </a>
    </div>

    {# Subline #}
    <p class="col-start-7 col-end-[content] md:col-start-10 md:col-end-[content] xl:col-start-11 max-w-50 md:max-w-52.5 md:ml-auto">
      {% svg "subline", "w-full h-auto aspect-[210/78.42]" %}
      <span class="sr-only">Private Praxis für Physiotherapie und Biokinematik</span>
    </p>
  </div>

  {# Arrow #}
  <a
    href="#start"
    class="hidden md:flex absolute z-20 left-1/2 -translate-x-1/2 inset-y-22.5 w-2.75 flex-col items-center text-off-white hover:translate-y-3 duration-200"
  >
    <div class="w-2.25 bg-current h-px"></div>
    <div class="h-full w-px mx-auto bg-current"></div>
    {% svg "arrow-tip", "absolute bottom-0 left-0 w-full aspect-11/7 text-current" %}
  </a>

  {# Navigation #}
  <nav class="hero__nav md:h-12.5 relative z-10 mt-auto md:mt-0 md:absolute md:bottom-0 md:left-1/2 md:-translate-x-1/2 w-full md:w-auto bg-dark rounded-t-[20px] container-grid md:block py-7 md:py-0">
    <ul class="col-start-7 col-end-[content] text-off-white text-20 leading-relaxed md:flex md:h-full md:px-3 lg:px-4">
      {% for item in site.navigation %}
        <li class="md:h-full">
          <a href="{{ item.url }}" class="relative md:px-3 lg:px-4 md:h-full md:flex md:items-center before:hidden md:before:block before:absolute before:top-full before:left-1/2 before:-translate-x-1/2 before:w-9 before:aspect-13/11 before:bg-off-white before:rounded-full focus-visible:before:-translate-y-1 hover:before:-translate-y-1 before:duration-200 overflow-hidden">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
